$col-12: calc(1320px / 14 * 12);
$col-10: calc(1320px / 14 * 10);
$col-6: calc(1320px / 14 * 6);
$col-4: calc(1320px / 14 * 4);
$col-2: calc(1320px / 14 * 2);

$coltw-4: calc(1091px / 12 * 4);
$coltw-2: calc(1091px / 12 * 2);

$colf-2: calc(337px / 4 * 2);

$coltw-8: calc(1091px / 12 * 8);

// $colt: calc(100% / 14 * 12);
// $colt-2: calc($colt / 12 * 2);

.container {
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
    margin-right: auto;
    margin-left: auto;
}
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -20px;
    margin-left: -20px;
}

.col-12 {
    width: $col-12;
    padding: 0 20px;
}

.col-10 {
    width: $col-10;
    padding: 0 20px;
}

.col-6 {
    width: $col-6;
    padding: 0 20px;
}

.col-4 {
    width: $col-4;
    padding: 0 20px;
}

.col-2 {
    width: $col-2;
    padding: 0 20px;
}

/*----------------------*/
.coltw-4 {
    width: $coltw-4;
    padding: 0 20px;
}

.colf-2 {
    width: $colf-2;
}
.coltw-8 {
    width: $coltw-8;
    padding: 0 20px;
}
