$col-10: calc(100% / 14 * 10 - 40px);
$col-6: calc(100% / 14 * 6 - 40px);
$col-2: calc(100% / 14 * 2 - 40px);
$col-12: calc(100% / 14 * 12 - 40px);

.page {
    max-width: 1440px;
    padding: 0 80px;
    margin: 0 auto;
}

// .row {
//     display: flex;
//     flex-wrap: wrap;
//     margin: 0 -20px;
// }

// .item {
//     background-color: red;
//     padding: 50px 0px;
//     width: calc(100% / 14 - 40px);
//     margin: 0 20px;
// }

// .item-big {
//     background-color: red;
//     padding: 50px 0px;
//     width: calc(100% / 14 * 2 - 40px);
//     margin: 0 20px;
// }

.col-12 {
    width: $col-12;
    margin: 0 20px;
}

.col-10 {
    width: $col-10;
    margin: 0 20px;
}

.col-6 {
    width: $col-6;
    margin: 0 20px;
}

.col-2 {
    width: $col-2;
    margin: 0 20px;
}
