/*Обнуление*/
/*Обнуление*/
* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

/*--------------------*/
/*--------------------*/
/*--------------------*/
@import "_grid";
/*--------------------*/
/*--------------------*/

body {
    font-size: 12px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    line-height: 18px;
}

.wrapper {
    max-width: 1440px;
    margin: auto;
    padding: 0 80px;
    color: black;
    font-style: italic;
}

.page {
    max-width: 1440px;
    padding: 0 60px;
    margin: 0 auto;
}

//Title

//Header

.header {
    padding-top: 27px;
    padding-bottom: 27px;
    position: relative;

    &__row {
        display: flex;
        position: relative;
        align-items: flex-end;
    }

    &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 1px;
        background-color: #000000;
    }

    &__logo {
        a {
            color: #000000;
            font-weight: bold;
            font-size: 20px;
            letter-spacing: 0.02em;
        }
    }

    &__city {
    }

    &__city-name {
        display: flex;
    }

    .name {
        margin-right: 10px;
    }

    .arrows {
        background: url(../img/arrow.svg);
        width: 8px;
        height: 6px;
        margin: auto 0;
    }

    &__menu {
    }

    &__menu-list {
        display: flex;
    }

    &__menu-item {
        a {
            color: #000000;
        }
    }

    &__menu-item:not(:last-child) {
        margin-right: 25px;
    }

    &__search {
    }

    .search-header {
        display: flex;
        position: relative;

        &__icon {
            background: url(../img/search.svg);
            width: 19px;
            height: 19px;
            background-size: contain;
            margin: auto 0;
            top: -2px;
            position: absolute;
        }

        &__title {
            padding-left: 25px;
        }
    }

    &__contact-information {
        text-align: right;
        position: relative;
    }

    &__phone {
        font-weight: bold;
    }

    &__address {
        position: absolute;
        top: 16px;
        right: 20px;
    }
}

.col {
}

.col-2 {
}

//main

.site {
    //background-color: rgb(213, 245, 255);
    display: flex;

    &__aside {
        //background-color: chocolate;
    }

    &__content.main-page {
        //background-color: cornflowerblue;
        margin-top: 85px;
    }
}

.aside {
    background: #ffffff;
    position: relative;
    z-index: 100;

    &__nav {
        padding-top: 37px;
        z-index: 100;
    }

    &__list {
    }

    &__item {
    }

    &__item:hover {
    }

    &__item:not(:last-child) {
        padding-top: 8px;
        padding-bottom: 8px;
    }

    &__item:last-child {
        padding-top: 8px;
    }

    &__item:hover .submenu {
        width: auto;
        height: 100%;
        opacity: 1;
        background: #f5f5f5;
        left: 130px;
        transition: left 200ms ease-out 0ms;
        z-index: 10;
    }

    &__submenu {
        opacity: 0;
        padding: 0;
        height: 0;
        width: 0;
        position: absolute;
        top: -74px;
        left: 80px;
        transition: left 200ms ease-in 0ms;
    }

    a {
        color: #000000;
    }
}

.submenu {
    &__title {
        margin: 22px 80px 70px 15px;
        font-weight: bold;
    }

    &__list {
    }

    &__item {
        padding-left: 15px;
    }

    &__item:not(:last-child) {
        padding-top: 8px;
        padding-bottom: 8px;
    }
}

.content {
    &__container {
    }
}

.site {
    &__preview {
        margin-bottom: 76px;
    }
}

.preview {
    &__title {
        font-weight: bold;
        font-size: 40px;
        line-height: 44px;
        color: #000000;
        display: block;
        margin-bottom: 40px;
    }

    &__slideshow {
        position: relative;
    }

    &__slider {
    }

    &__froze {
        position: absolute;
        top: 50%;
        left: 95px;
        transform: translate(0, -50%);
        z-index: 10;
    }

    .buttons {
        border: none;
    }
}

.slider-cards {
}

.sl-cd-nxt {
    right: auto;
    left: 46px;
}
.sl-cd-pr {
    left: 0px;
    right: auto;
}
.sl-cd-pr,
.sl-cd-nxt {
    position: absolute;
    width: 47px;
    height: 40px;
    top: 20px;
    bottom: auto;
    z-index: 12;
    cursor: pointer;
}

.swiper-button-next {
    right: -1px;
}

.swiper-button-prev {
    right: 46px;
    left: auto;
}

.swiper-button-prev,
.swiper-button-next {
    position: absolute;
    width: 47px;
    height: 40px;
    top: auto;
    bottom: 0px;
}
.sl-cd-pr::after,
.swiper-button-prev::after {
    position: absolute;
    content: "";
    width: 47px;
    height: 40px;
    background: url(../img/arrow-slider.svg) no-repeat center;
    margin: auto 0;
    background-color: #ffffff;
}
.sl-cd-nxt::after,
.swiper-button-next::after {
    position: absolute;
    content: "";
    width: 47px;
    height: 40px;
    background: url(../img/arrow-slider.svg) no-repeat center;
    transform: scale(-1);
    margin: auto 0;
    background-color: #ffffff;
}
.sl-cd-pr::after,
.sl-cd-nxt::after {
    background-color: #f5f5f5;
}

.slider-preview {
    position: relative;

    &__item {
    }
}

.swiper-container img {
    width: 100%;
    height: max-content;
}

.froze {
    &__title {
        font-weight: 600;
        font-size: 18px;
        line-height: 24px;
        color: #ffffff;
        margin-bottom: 18px;
    }

    &__description {
        line-height: 130%;
        color: #ffffff;
        margin-bottom: 26px;
    }

    &__button {
        background: #ffffff;
        font-weight: 600;
        font-size: 12px;
        line-height: 145%;
        color: #000000;
    }
}

.buttons {
    width: 148px;
    padding: 12px 0;
    text-align: center;
    cursor: pointer;
    border: 1px solid #000000;
    box-sizing: border-box;
    text-align: center;
}

.slick-slider {
    position: relative;
}

.slick-list {
    overflow: hidden;
}

/* Лента слайдов */
.slick-track {
    display: flex;
}

.slick-arrow {
    position: absolute;
    bottom: 0;
    font-size: 0;
    z-index: 12;
}

.slick-arrow.slick-prev {
    right: 46px;
    width: 47px;
    height: 40px;
    background: url(../img/arrow-slider.svg) no-repeat center;
    margin: auto 0;
    background-color: #ffffff;
}

.slick-arrow.slick-next {
    right: 0;
    width: 47px;
    height: 40px;
    background: url(../img/arrow-slider.svg) no-repeat center;
    transform: scale(-1);
    margin: auto 0;
    background-color: #ffffff;
}

//section-order-present
.site {
    &__start-kitchen {
        margin-bottom: 140px;
    }
}

.product-present {
    &__info {
    }

    &__title {
        font-weight: bold;
        font-size: 40px;
        line-height: 150%;
        color: #000000;
        margin-bottom: 10px;
    }

    &__titles-description {
        line-height: 18px;
        color: #000000;
        margin-bottom: 30px;
    }

    &__slider {
        position: relative;
    }

    &__order {
    }
}

.row {
}

.coltw-8 {
}

.titles {
}

.slider-product-present {
    &__item {
    }
}

.product-present__main {
    display: flex;
    flex-wrap: wrap;
}

.order {
    display: flex;
    flex-direction: column;

    &__title {
        font-weight: bold;
        font-size: 18px;
        line-height: 130%;
        color: #000000;
        margin-bottom: 14px;
    }

    &__title-decription {
        line-height: 18px;
        margin-bottom: 10px;
    }

    &__material {
        font-weight: 600;
        line-height: 18px;
        margin-bottom: 10px;
    }

    &__material-description {
        line-height: 18px;
        margin-bottom: auto;
    }

    &__price {
    }

    &__button {
        border: 1px solid #000000;
        box-sizing: border-box;
    }
}

.coltw-4 {
}

.price {
    margin-bottom: 20px;

    &__old {
    }

    &__new {
        margin-right: 15px;
    }
}

.buttons {
}

//Section purchase
.dop-purchase {
    margin-bottom: 115px;

    &__title {
        font-weight: bold;
        font-size: 40px;
        line-height: 44px;
    }

    &__card {
    }

    &__slider {
        margin-bottom: 30px;
    }

    &__info {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }

    &__description {
    }

    &__description-title {
        font-weight: bold;
        font-size: 18px;
        line-height: 130%;
    }

    &__description-content {
        line-height: 18px;
    }

    &__order {
    }

    &__price {
        line-height: 130%;
        text-align: right;
        margin-bottom: 3px;
    }

    &__button {
        border: 1px solid #000000;
        box-sizing: border-box;
    }
}

.row {
}

.coltw-3 {
}

.coltw-5 {
}

.slider-purchase {
    &__item {
    }
}

.coltw-4 {
}

.price {
    &__new {
    }

    &__old {
    }
}

//section cupboard
.site__cupboard-present {
    margin-bottom: 85px;

    .product-present__slidshow {
        order: 1;
    }
}

.product-present__title {
    line-height: 44px;
}

//section furn-day

.site {
    &__furn-day {
        margin-bottom: 75px;
    }
}

.furn-day {
    &__title {
        margin-bottom: 15px;
    }

    &__description {
        line-height: 18px;
        margin-bottom: 36px;
    }

    &__slideshow {
    }

    &__card {
    }

    &__slider {
    }

    &__info {
    }
}

.title {
}

.row {
}

.coltw-3 {
}

.slider-furn-day {
    margin-bottom: 30px;

    &__item {
    }
}

.info-furn {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__title {
        font-weight: bold;
        font-size: 18px;
        line-height: 130%;
    }

    &__price {
        margin-bottom: 0;
    }
}

.info-furn .price {
    &__old {
        margin-right: 12px;
    }

    &__new {
        margin-right: 0;
    }
}

.coltw-5 {
}

//site-lounge

.site__lounge {
    margin-bottom: 120px;
}

//section cost-calc

.site {
    &__cost-calc {
        margin-bottom: 120px;
    }
}

.cost-calc {
    &__sec {
    }

    &__title {
        margin-bottom: 25px;
    }

    &__title-description {
        margin-bottom: 110px;
    }

    &__button-online {
        margin-bottom: 15px;
    }

    &__button-design {
        background: #000000;
        color: #ffffff;
    }

    &__img {
        background: url(../img/calc.jpg) no-repeat;
        background-size: cover;
        height: 100%;
    }
}

.row {
}

.coltw-3 {
}

.title {
}

.calc-but {
    padding: 12px;
    border: 1px solid #000000;
    box-sizing: border-box;
    text-align: center;
    cursor: pointer;
}

.coltw-5 {
}

.call-worker {
    display: flex;
    flex-direction: column;

    &__title {
        font-weight: bold;
        font-size: 18px;
        line-height: 130%;
        margin-bottom: 11px;
    }

    &__title-description {
        flex: 1 1 auto;
    }

    &__sale {
        font-weight: bold;
        margin-bottom: 18px;
        margin-top: auto;
    }

    &__button {
    }
}

.coltw-4 {
}

//bestseller
.site__bestseller {
    margin-bottom: 85px;
}

.site__bestseller .product-present {
    &__order {
        order: -1;
        display: flex;
        flex-direction: column;
    }

    &__title {
    }
}

.site__bestseller .order {
    &__title {
    }

    &__title-decription {
        flex: 1 1 auto;
    }

    &__button {
    }
}

.coltw-3 {
}

.buttons {
}

//playroom

.site {
    &__playroom {
        margin-bottom: 80px;
        padding-top: 80px;
        position: relative;
    }
}

.playroom {
    &__title {
        margin-bottom: 30px;
    }

    &__slider {
        margin-bottom: 30px;
    }

    &__description {
    }

    &__info {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__button {
        background: #000000;
        color: #ffffff;
    }
}

.title {
}

.slider-playroom {
    &__item {
    }
}

.playroom-description {
    &__offer {
        font-weight: 600;
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 15px;
    }

    &__offer-info {
    }
}

.buttons {
}

//section-style
.site {
    &__style {
        margin-bottom: 75px;
    }
}

.style {
    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__title {
        margin-bottom: 40px;
    }

    &__more {
    }

    &__main {
    }

    &__card {
    }

    &__img {
        background: url(../img/curbstone-slider.jpg);
        height: 430px;
        margin-bottom: 30px;
    }

    &__info {
    }
}

.title {
}

.row {
}

.coltw-3 {
}

.stile-info {
    &__title {
        margin-bottom: 15px;
        font-weight: bold;
        font-size: 18px;
        line-height: 130%;
    }

    &__description {
    }
}

//section inst
.site {
    &__instagram {
    }
}

.inst {
    &__title {
        margin-bottom: 40px;
    }

    &__content {
    }

    &__card {
        position: relative;
        margin-bottom: 40px;
    }

    &__card a {
        position: absolute;
        margin: auto;
        z-index: 10;
        opacity: 0;
        overflow: hidden;
        height: 0;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__card:hover > a {
        opacity: 1;
        height: auto;
    }

    &__card:hover img {
        opacity: 0.3;
    }
}

.title {
}

.row {
}

.coltw-4 {
}

//tovar

.tovar .site__instagram {
    margin-bottom: 45px;
}

.magazine-cat {
    margin-bottom: 90px;

    &__content {
    }

    &__title {
        margin-bottom: 30px;
    }

    &__sub-title {
        font-weight: 600;
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 20px;
    }

    &__title-descripion {
        margin-bottom: 30px;
    }

    &__img img {
        height: 100%;
        width: 100%;
    }
}

.row {
}

.coltw-4 {
}

.title {
}

.sub-title {
}

.our-question {
    &__form {
    }

    &__form-text-fields {
    }

    &__form-text-field {
    }
}

.button {
}

.button--black {
}

.coltw-8 {
}

//Filtr

.filtrs {
    &__elements {
        display: flex;
        flex-wrap: wrap;
        max-height: 30px;
    }

    &__elements.open {
        max-height: 200px;
    }

    &__elements.open &__element:nth-child(n + 6) {
        display: block;
    }

    &__element {
        margin: 0 40px 35px 0;

        flex: 0 1 148px;
        position: relative;
        cursor: pointer;
    }

    &__element-name {
        position: relative;
        display: block;
        padding-bottom: 12px;
    }

    &__element-name::after {
        content: url(../img/arrow-slider.svg);
        position: absolute;
        top: 5px;
        right: 10px;
        width: 8px;
        height: 8px;
        transform: rotate(-90deg);
    }

    &__element::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        right: -40px;
        height: 1px;
        background: #cccccc;
    }

    &__element:last-child::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        right: -0px;
        height: 1px;
        background: #cccccc;
    }

    &__element:nth-child(6n) {
        margin-right: 0;
    }

    &__element:nth-child(n + 6) {
        display: none;
    }

    &__button-open {
        font-weight: bold;
        cursor: pointer;
        margin-left: auto;
    }

    &__element-drop {
    }
}

//Drop-element-filtrs

.drop-element {
    position: absolute;
    top: 30px;
    background: #f5f5f5;
    z-index: 1;
    padding: 12px 192px 20px 60px;
    display: none;

    &__list {
    }

    &.open {
        display: block;
    }

    &__item {
        min-width: 85px;
        position: relative;
        cursor: pointer;

        input {
            display: none;
        }

        label {
            cursor: pointer;
        }

        label::before {
            content: "";
            position: absolute;
            top: 50%;
            left: -30px;
            width: 12px;
            height: 12px;
            border: 1px solid #000;
            transform: translate(0, -50%);
            cursor: pointer;
        }

        label::after {
            content: "";
            position: absolute;
            display: none;
            top: 50%;
            left: -26px;
            width: 4px;
            height: 4px;
            background: #000;
            transform: translate(0, -50%);
            cursor: pointer;
        }

        input:checked + label::after {
            display: block;
        }
    }

    &__item:not(:last-child) {
        margin-bottom: 25px;
    }
}

//Tags
.tags {
    margin-bottom: 45px;
    margin-top: 40px;

    &__elements {
        display: flex;
        flex-wrap: wrap;
        max-height: 28px;
        overflow: hidden;
    }

    &__elements.open {
        max-height: 200px;
    }

    &__elements.open &__element:nth-child(n + 6) {
        display: block;
    }

    &__element,
    &__button-open {
        flex: 0 1 148px;
        padding: 4px 0;
        text-align: center;
    }

    &__element {
        background-color: #f5f5f5;
        margin: 0px 40px 10px 0px;
        display: block;
    }

    &__element:nth-child(n + 6) {
        display: none;
    }

    &__button-open {
        background-color: #ffffff;
        margin-bottom: 10px;
        cursor: pointer;
        margin-left: auto;
    }

    &__element:nth-child(6n) {
        margin-right: 0;
    }

    &__link {
        color: inherit;
        font-weight: 400;
    }
}

//Contact

.contact {
    margin-bottom: 80px;

    &__title {
        margin-bottom: 40px;
        margin-top: 40px;
    }

    &__map {
    }

    &__information {
    }

    &__information-address {
    }

    &__information-manufacture {
    }

    &__information-shop {
        margin-bottom: 95px;
    }

    &__information-manufacture li,
    &__information-shop li {
        margin-bottom: 10px;
    }

    &__social-networks {
        margin-bottom: 20px;
    }

    &__button {
        border: 1px solid black;
        padding: 12px 0;
        text-align: center;
        cursor: pointer;
    }
}

.social-networks {
    &__list {
        display: flex;
    }

    &__item:not(:last-child) {
        margin-right: 15px;
    }

    &__link {
        color: inherit;
    }
}

.address {
    margin-bottom: 10px;

    &__title {
        font-weight: bold;
        font-size: 18px;
        margin-bottom: 15px;
    }

    &__content {
    }
}

.manufacture {
    &__title {
        font-weight: 600;
        margin-bottom: 10px;
    }

    &__content {
    }
}

.shop {
    &__title {
        font-weight: 600;
        margin-bottom: 10px;
    }

    &__content {
    }
}

//Answers

.answers {
    &__sections {
        margin-bottom: 70px;
    }

    &__left-section {
    }

    &__title {
        margin-bottom: 30px;
    }

    &__question {
    }

    &__right-section {
    }

    &__video {
        margin-bottom: 30px;
        cursor: pointer;
    }

    &__caption {
        font-weight: bold;
        font-size: 18px;
    }

    &__our-question {
        margin-bottom: 85px;
    }

    &__inst {
    }

    &__vk-group {
        margin-bottom: 85px;
    }
}

//Vk-group
.vk-group {
    &__header {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 30px;
    }

    &__title {
    }

    &__buttons {
        align-self: flex-end;
    }
}

//Our-question

.our-question {
    &__title {
        margin-bottom: 40px;
    }

    &__form {
    }

    &__form-text-fields {
        .button {
            width: 100%;
        }
    }

    &__form-text-field {
        display: block;
        width: 100%;
        padding: 12px 18px;
        border: 1px solid #000000;
        line-height: 16px;
    }

    &__form-text-field:not(:last-child) {
        margin-bottom: 10px;
    }

    &__form-textareas {
    }

    &__form-textarea {
        display: block;
        width: 100%;
        height: 100%;
        padding: 18px 12px;
    }
}

//Question

.question {
    margin-bottom: 20px;

    &:hover &__response {
        padding: 15px 0;
        max-height: 500px;
        transition: all 0.2s ease-in;
    }

    &__name {
        font-weight: bold;
        font-size: 18px;
        cursor: pointer;
        // margin-bottom: 15px;
    }

    &__response {
        max-height: 0;
        overflow: hidden;
        padding: 0px 0;
        cursor: default;
        transition: all 0.2s ease;
    }
}

//Bread-ctubs

.bread-crumbs {
    margin-bottom: 15px;
    margin-top: 45px;
}

//Section-categoty

.category {
    margin-bottom: 100px;

    &__title {
    }

    &__elements {
    }

    &__element {
        height: 336px;
        background-repeat: no-repeat;
        background-position: center;
        margin-bottom: 40px;
        position: relative;
    }

    &__element-name {
        min-width: 243px;
    }

    .kitchen {
        background-image: url(../img/kitchen.jpg);
    }

    .cabinet {
        background-image: url(../img/cabinet.jpg);
    }

    .living-room {
        background-image: url(../img/living-room.jpg);
    }

    .hallway {
        background-image: url(../img/hallway.jpg);
    }

    .childrens {
        background-image: url(../img/childrens.jpg);
    }

    .curbstone {
        background-image: url(../img/curbstone.jpg);
    }
}

.dop-information {
    margin-bottom: 75px;

    &__title {
    }

    &__item {
        line-height: 18px;
    }

    &__item-title {
        font-weight: bold;
        margin-bottom: 20px;
    }

    p {
        margin-bottom: 20px;
    }
}

//Under-category
.under-category {
    margin-bottom: 100px;

    &__header {
        display: flex;
        margin-bottom: 30px;
    }

    &__title {
        line-height: unset;
    }

    &__number-of-goods {
        align-self: center;
        position: relative;
    }

    &__content-toggler {
        display: flex;
        justify-content: flex-end;
        align-self: flex-end;

        .toggler-container {
            display: flex;
            width: min-content;
            border: 1px solid #000000;
            background-color: #ffffff;
            cursor: pointer;
        }

        .btn-prev,
        .btn-next {
            width: 47px;
            height: 40px;
            background: url(../img/arrow-slider.svg) no-repeat center;
        }

        .btn-next {
            transform: scale(-1);
        }
    }

    &__elements {
        display: flex;
        flex-wrap: wrap;
    }

    &__element {
        margin-bottom: 35px;
        cursor: pointer;
    }

    &__element:hover &__element-button {
        right: 0;
        opacity: 1;
        transition: all 0.3s ease-out;
        z-index: 1;
    }

    &__element-img {
        position: relative;
    }

    &__element-button {
        min-width: 149px;
        padding: 10px 0;
        position: absolute;
        bottom: 0;
        right: -80px;
        opacity: 0;
        text-align: center;
        background-color: #ffffff;
        font-weight: bold;
        transition: opacity, right 0.3s ease-out;
        z-index: -1;
    }

    &__element-description {
        margin: 22px 0 0;
        display: flex;
        font-size: 12px;
    }

    &__element-name {
        font-weight: bold;
        line-height: 130%;
        font-size: 18px;
    }

    &__element-price {
        display: flex;
        justify-content: flex-end;
    }
}

//Footer

.footer {
    position: relative;
    font-weight: normal;
    font-size: 12px;
    position: relative;
    text-align: right;

    &__container {
    }

    &__menu {
        padding-top: 30px;
        padding-bottom: 100px;
        margin-left: auto;
    }

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 1px;
        background-color: #000000;
    }

    &__list {
        display: flex;
        justify-content: space-between;
        margin-left: auto;
    }

    &__item a {
        color: #000000;
    }
}

.current {
    font-weight: bold;
}

//Price

.price {
    s {
        margin-right: 15px;
    }

    span {
        font-weight: bold;
    }
}

//Title

.title {
    font-size: 40px;
    line-height: 44px;
    font-weight: bold;
}

.count {
    font-weight: bold;
    position: absolute;
    bottom: 0;
    right: 0;
}

.button {
    text-align: center;
    padding-top: 12px;
    padding-bottom: 12px;
}

.button--black {
    background-color: #000000;
    color: #ffffff;
}

.button--white {
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #000000;
}
