/*Обнуление*/
/*Обнуление*/
* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

/*--------------------*/
/*--------------------*/
/*--------------------*/
@import "_grid";
/*--------------------*/
/*--------------------*/

body {
    font-size: 12px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}

.wrapper {
    max-width: 1440px;
    margin: auto;
    padding: 0 80px;
    color: black;
    font-style: italic;
}

.page {
    max-width: 1440px;
    padding: 0 60px;
    margin: 0 auto;
}

//White-btn
.white-btn {
    position: absolute;
    bottom: 0;
    right: 20px;
    text-align: center;
    padding: 10px 0;
    background-color: #ffffff;
    font-weight: bold;
}

//Header

.header {
    padding-top: 27px;
    padding-bottom: 27px;
    position: relative;

    &__row {
        display: flex;
        position: relative;
        align-items: flex-end;
    }

    &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 20px;
        right: 20px;
        height: 1px;
        background-color: #000000;
    }

    &__logo {
        a {
            color: #000000;
            font-weight: bold;
            font-size: 20px;
            letter-spacing: 0.02em;
        }
    }

    &__city {
    }

    &__city-name {
        display: flex;
    }

    .name {
        margin-right: 10px;
    }

    .arrows {
        background: url("/front-page/img/arrow.svg");
        width: 8px;
        height: 6px;
        margin: auto 0;
    }

    &__menu {
    }

    &__menu-list {
        display: flex;
    }

    &__menu-item {
        a {
            color: #000000;
        }
    }

    &__menu-item:not(:last-child) {
        margin-right: 25px;
    }

    &__search {
    }

    .search-header {
        display: flex;
        position: relative;

        &__icon {
            background: url("/front-page/img/search.svg");
            width: 19px;
            height: 19px;
            background-size: contain;
            margin: auto 0;
            top: -2px;
            position: absolute;
        }

        &__title {
            padding-left: 25px;
        }
    }

    &__contact-information {
        text-align: right;
        position: relative;
    }

    &__phone {
        font-weight: bold;
    }

    &__address {
        position: absolute;
        top: 16px;
        right: 20px;
    }
}

.col {
}

.col-2 {
}

//main

.site {
    background-color: rgb(213, 245, 255);
    display: flex;

    &__aside {
        background-color: chocolate;
    }

    &__content {
        background-color: cornflowerblue;
        margin-top: 40px;
    }
}

.aside {
    position: relative;

    &__nav {
        padding-top: 40px;
    }

    &__list {
    }

    &__item {
    }
    &__item:hover {
    }

    &__item:not(:last-child) {
        margin-bottom: 16px;
    }

    &__item:hover > .submenu,
    .sub-menu:hover {
        width: auto;
        visibility: visible;
        height: calc(100% + 74px);
        opacity: 1;
        background: #f5f5f5;
        transition: all 200ms linear 0ms;
    }

    &__submenu {
        opacity: 0;
        padding: 0;
        height: 0;
        width: 0;
        position: absolute;
        top: -74px;
        left: 130px;
    }
    a {
        color: #000000;
    }
}

.submenu {
    &__title {
        margin: 30px 80px 70px 15px;
        font-weight: bold;
    }

    &__list {
    }

    &__item {
        padding-left: 15px;
    }
    &__item:not(:last-child) {
        margin-bottom: 16px;
    }
}

.content {
    &__container {
    }
}

.site {
    &__preview {
        margin-bottom: 76px;
    }
}
.preview {
    &__title {
        font-weight: bold;
        font-size: 40px;
        line-height: 44px;
        color: #000000;
        display: block;
        margin-bottom: 40px;
    }

    &__slideshow {
        position: relative;
    }

    &__slider {
    }

    &__froze {
        position: absolute;
        top: 50%;
        left: 95px;
        transform: translate(0, -50%);
    }
}
.slider-preview {
    position: relative;
    &__item {
    }
}
.froze {
    &__title {
        font-weight: 600;
        font-size: 18px;
        line-height: 24px;
        color: #ffffff;
        margin-bottom: 18px;
    }

    &__description {
        line-height: 130%;
        color: #ffffff;
        margin-bottom: 26px;
    }

    &__button {
        background: #ffffff;
        font-weight: 600;
        font-size: 12px;
        line-height: 145%;
        color: #000000;
    }
}
.buttons {
    width: 148px;
    padding: 12px 0;
    text-align: center;
    cursor: pointer;
}
.slick-list {
    overflow: hidden;
}
/* Лента слайдов */
.slick-track {
    display: flex;
}
.slick-arrow {
    position: absolute;
    bottom: 0;
    font-size: 0;
    z-index: 12;
}
.slick-arrow.slick-prev {
    right: 46px;
    width: 47px;
    height: 40px;
    background: url("/front-page/img/arrow-slider.svg") no-repeat center;
    margin: auto 0;
    background-color: #ffffff;
}
.slick-arrow.slick-next {
    right: 0;
    width: 47px;
    height: 40px;
    background: url("/front-page/img/arrow-slider.svg") no-repeat center;
    transform: scale(-1);
    margin: auto 0;
    background-color: #ffffff;
}

//section-order-present
.site {
    &__start-kitchen {
    }
}
.product-present {
    &__info {
    }

    &__title {
        font-weight: bold;
        font-size: 40px;
        line-height: 150%;
        color: #000000;
        margin-bottom: 10px;
    }

    &__titles-description {
        line-height: 18px;
        color: #000000;
        margin-bottom: 30px;
    }

    &__slider {
        position: relative;
    }

    &__order {
    }
}
.row {
}
.coltw-8 {
}
.titles {
}
.slider-product-present {
    &__item {
    }
}
.order {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    &__title {
        font-weight: bold;
        font-size: 18px;
        line-height: 130%;
        color: #000000;
        margin-bottom: 14px;
    }

    &__title-decription {
        line-height: 18px;
        margin-bottom: 10px;
    }

    &__material {
        font-weight: 600;
        line-height: 18px;
        margin-bottom: 10px;
    }

    &__material-description {
        line-height: 18px;
        margin-bottom: 190px;
    }

    &__price {
    }

    &__button {
        border: 1px solid #000000;
        box-sizing: border-box;
    }
}
.coltw-4 {
}
.price {
    margin-bottom: 20px;
    &__old {
    }

    &__new {
        margin-right: 15px;
    }
}
.buttons {
}

//Filtr

.filtr {
    margin-bottom: 45px;

    &__elements {
        display: flex;
        flex-wrap: wrap;
        // justify-content: space-between;
    }

    &__element {
        flex: 0 1 148px;
        background-color: #f5f5f5;
        padding: 4px 0;
        text-align: center;
        margin: 0px 40px 10px 0px;
    }

    &__element:nth-child(6n) {
        margin-right: 0;
    }

    &__link {
        color: inherit;
        font-weight: 400;
    }
}

//Bread-ctubs

.bread-crumbs {
    margin-bottom: 15px;
}

//Section-categoty

.category {
    margin-bottom: 100px;

    &__title {
    }

    &__elements {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -20px;
    }

    &__element {
        height: 336px;
        background-repeat: no-repeat;
        background-position: center;
        margin-bottom: 40px;
        position: relative;
    }

    &__element-name {
        position: absolute;
        bottom: 0;
        right: 20px;
        text-align: center;
        min-width: 243px;
    }

    .kitchen {
        background-image: url(../img/kitchen.jpg);
    }

    .cabinet {
        background-image: url(../img/cabinet.jpg);
    }

    .living-room {
        background-image: url(../img/living-room.jpg);
    }

    .hallway {
        background-image: url(../img/hallway.jpg);
    }

    .childrens {
        background-image: url(../img/childrens.jpg);
    }

    .curbstone {
        background-image: url(../img/curbstone.jpg);
    }
}

.dop-information {
    margin-bottom: 75px;

    &__row {
        display: flex;
        margin: 0 -20px;
    }

    &__title {
        text-align: right;
        margin-top: 110px;
    }

    &__item {
        line-height: 18px;
    }

    &__item-title {
        font-weight: bold;
        margin-bottom: 20px;
    }

    p {
        margin-bottom: 20px;
    }
}

//Under-category
.under-category {
    &__elements {
        margin: 0 -20px;
    }

    &__element {
        position: relative;
    }

    &__element-button {
        min-width: 149px;
        padding: 15px 0;
        bottom: 45px;
    }

    &__element-description {
        margin: 22px -20px 0;
        display: flex;
        font-size: 12px;
    }

    &__element-name {
        font-weight: bold;
        line-height: 130%;
        font-size: 18px;
    }

    &__element-price {
        display: flex;
        justify-content: flex-end;
    }

    &__element-sale-price {
        margin-right: 15px;
    }

    &__element-simple-price {
        font-weight: bold;
    }
}

//Footer

.footer {
    position: relative;

    &__container {
        margin: 0 -20px;
        font-weight: normal;
        font-size: 12px;
        position: relative;
        text-align: right;
    }

    &__menu {
        padding: 30px 0 100px;
        margin-left: auto;
    }

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 20px;
        right: 20px;
        height: 1px;
        background-color: #000000;
    }

    &__list {
        display: flex;
        justify-content: space-between;
        margin-left: auto;
    }

    &__item a {
        color: #000000;
    }
}

.current {
    font-weight: bold;
}

//Title

.title {
    font-size: 40px;
    line-height: 150%;
    font-weight: bold;
}
