@charset "UTF-8";
/*Обнуление*/
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
/*--------------------*/
/*--------------------*/
.page {
  max-width: 1440px;
  padding: 0 80px;
  margin: 0 auto;
}

.col-10 {
  width: calc(100% / 14 * 10 - 40px);
  margin: 0 20px;
}

.col-6 {
  width: calc(100% / 14 * 6 - 40px);
  margin: 0 20px;
}

.col-2 {
  width: calc(100% / 14 * 2 - 40px);
  margin: 0 20px;
}

/*--------------------*/
/*--------------------*/
.wrapper {
  max-width: 1440px;
  margin: auto;
  padding: 0 80px;
  color: black;
  font-style: italic;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -20px;
  padding: 27px 0;
}

.header__logo a {
  color: #000000;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
}

.header__city-name {
  font-size: 12px;
}

.header__menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__menu-item a {
  color: #000000;
}

.header__search {
  background-color: salmon;
}

.header__contact-information {
  margin-right: auto;
}

.header__phone {
  font-weight: bold;
  margin: 0px 0px 10px 0px;
}

.footer {
  position: relative;
}

.footer__container {
  margin: 0 -20px;
  font-weight: normal;
  font-size: 12px;
  position: relative;
}

.footer__menu {
  padding: 30px 0 100px;
}

.footer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 1px;
  background-color: #000000;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: auto;
}

.footer__item a {
  color: #000000;
}

.current {
  font-weight: bold;
}
