@charset "UTF-8";
/*Обнуление*/
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
/*--------------------*/
/*--------------------*/
.container {
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -20px;
  margin-left: -20px;
}

.col-12 {
  width: calc(1320px / 14 * 12);
  padding: 0 20px;
}

.col-10 {
  width: calc(1320px / 14 * 10);
  padding: 0 20px;
}

.col-6 {
  width: calc(1320px / 14 * 6);
  padding: 0 20px;
}

.col-4 {
  width: calc(1320px / 14 * 4);
  padding: 0 20px;
}

.col-2 {
  width: calc(1320px / 14 * 2);
  padding: 0 20px;
}

/*----------------------*/
.coltw-4 {
  width: calc(1131px / 12 * 4);
  padding: 0 20px;
}

.colf-2 {
  width: calc(337px / 4 * 2);
}

.coltw-8 {
  width: calc(1131px / 12 * 8);
  padding: 0 20px;
}

/*--------------------*/
/*--------------------*/
body {
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.wrapper {
  max-width: 1440px;
  margin: auto;
  padding: 0 80px;
  color: black;
  font-style: italic;
}

.page {
  max-width: 1440px;
  padding: 0 60px;
  margin: 0 auto;
}

.white-btn {
  position: absolute;
  bottom: 0;
  right: 20px;
  text-align: center;
  padding: 10px 0;
  background-color: #ffffff;
  font-weight: bold;
}

.header {
  padding-top: 27px;
  padding-bottom: 27px;
  position: relative;
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.header::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 20px;
  right: 20px;
  height: 1px;
  background-color: #000000;
}

.header__logo a {
  color: #000000;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 0.02em;
}

.header__city-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .name {
  margin-right: 10px;
}

.header .arrows {
  background: url("/front-page/img/arrow.svg");
  width: 8px;
  height: 6px;
  margin: auto 0;
}

.header__menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__menu-item a {
  color: #000000;
}

.header__menu-item:not(:last-child) {
  margin-right: 25px;
}

.header .search-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.header .search-header__icon {
  background: url("/front-page/img/search.svg");
  width: 19px;
  height: 19px;
  background-size: contain;
  margin: auto 0;
  top: -2px;
  position: absolute;
}

.header .search-header__title {
  padding-left: 25px;
}

.header__contact-information {
  text-align: right;
  position: relative;
}

.header__phone {
  font-weight: bold;
}

.header__address {
  position: absolute;
  top: 16px;
  right: 20px;
}

.site {
  background-color: #d5f5ff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.site__aside {
  background-color: chocolate;
}

.site__content {
  background-color: cornflowerblue;
  margin-top: 40px;
}

.aside {
  position: relative;
}

.aside__nav {
  padding-top: 40px;
}

.aside__item:not(:last-child) {
  margin-bottom: 16px;
}

.aside__item:hover > .submenu,
.aside .sub-menu:hover {
  width: auto;
  visibility: visible;
  height: calc(100% + 74px);
  opacity: 1;
  background: #f5f5f5;
  -webkit-transition: all 200ms linear 0ms;
  transition: all 200ms linear 0ms;
}

.aside__submenu {
  opacity: 0;
  padding: 0;
  height: 0;
  width: 0;
  position: absolute;
  top: -74px;
  left: 130px;
}

.aside a {
  color: #000000;
}

.submenu__title {
  margin: 30px 80px 70px 15px;
  font-weight: bold;
}

.submenu__item {
  padding-left: 15px;
}

.submenu__item:not(:last-child) {
  margin-bottom: 16px;
}

.site__preview {
  margin-bottom: 76px;
}

.preview__title {
  font-weight: bold;
  font-size: 40px;
  line-height: 44px;
  color: #000000;
  display: block;
  margin-bottom: 40px;
}

.preview__slideshow {
  position: relative;
}

.preview__froze {
  position: absolute;
  top: 50%;
  left: 95px;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.slider-preview {
  position: relative;
}

.froze__title {
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  margin-bottom: 18px;
}

.froze__description {
  line-height: 130%;
  color: #ffffff;
  margin-bottom: 26px;
}

.froze__button {
  background: #ffffff;
  font-weight: 600;
  font-size: 12px;
  line-height: 145%;
  color: #000000;
}

.buttons {
  width: 148px;
  padding: 12px 0;
  text-align: center;
  cursor: pointer;
}

.slick-list {
  overflow: hidden;
}

/* Лента слайдов */
.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slick-arrow {
  position: absolute;
  bottom: 0;
  font-size: 0;
  z-index: 12;
}

.slick-arrow.slick-prev {
  right: 46px;
  width: 47px;
  height: 40px;
  background: url("/front-page/img/arrow-slider.svg") no-repeat center;
  margin: auto 0;
  background-color: #ffffff;
}

.slick-arrow.slick-next {
  right: 0;
  width: 47px;
  height: 40px;
  background: url("/front-page/img/arrow-slider.svg") no-repeat center;
  -webkit-transform: scale(-1);
          transform: scale(-1);
  margin: auto 0;
  background-color: #ffffff;
}

.product-present__title {
  font-weight: bold;
  font-size: 40px;
  line-height: 150%;
  color: #000000;
  margin-bottom: 10px;
}

.product-present__titles-description {
  line-height: 18px;
  color: #000000;
  margin-bottom: 30px;
}

.product-present__slider {
  position: relative;
}

.product-present__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.order__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 130%;
  color: #000000;
  margin-bottom: 14px;
}

.order__title-decription {
  line-height: 18px;
  margin-bottom: 10px;
}

.order__material {
  font-weight: 600;
  line-height: 18px;
  margin-bottom: 10px;
}

.order__material-description {
  line-height: 18px;
  margin-bottom: auto;
}

.order__button {
  border: 1px solid #000000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.price {
  margin-bottom: 20px;
}

.price__new {
  margin-right: 15px;
}

.filtr {
  margin-bottom: 45px;
}

.filtr__elements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.filtr__element {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 148px;
          flex: 0 1 148px;
  background-color: #f5f5f5;
  padding: 4px 0;
  text-align: center;
  margin: 0px 40px 10px 0px;
}

.filtr__element:nth-child(6n) {
  margin-right: 0;
}

.filtr__link {
  color: inherit;
  font-weight: 400;
}

.bread-crumbs {
  margin-bottom: 15px;
}

.category {
  margin-bottom: 100px;
}

.category__elements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -20px;
}

.category__element {
  height: 336px;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 40px;
  position: relative;
}

.category__element-name {
  position: absolute;
  bottom: 0;
  right: 20px;
  text-align: center;
  min-width: 243px;
}

.category .kitchen {
  background-image: url(../img/kitchen.jpg);
}

.category .cabinet {
  background-image: url(../img/cabinet.jpg);
}

.category .living-room {
  background-image: url(../img/living-room.jpg);
}

.category .hallway {
  background-image: url(../img/hallway.jpg);
}

.category .childrens {
  background-image: url(../img/childrens.jpg);
}

.category .curbstone {
  background-image: url(../img/curbstone.jpg);
}

.dop-information {
  margin-bottom: 75px;
}

.dop-information__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -20px;
}

.dop-information__title {
  text-align: right;
  margin-top: 110px;
}

.dop-information__item {
  line-height: 18px;
}

.dop-information__item-title {
  font-weight: bold;
  margin-bottom: 20px;
}

.dop-information p {
  margin-bottom: 20px;
}

.under-category__elements {
  margin: 0 -20px;
}

.under-category__element {
  position: relative;
}

.under-category__element-button {
  min-width: 149px;
  padding: 15px 0;
  bottom: 45px;
}

.under-category__element-description {
  margin: 22px -20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 12px;
}

.under-category__element-name {
  font-weight: bold;
  line-height: 130%;
  font-size: 18px;
}

.under-category__element-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.under-category__element-sale-price {
  margin-right: 15px;
}

.under-category__element-simple-price {
  font-weight: bold;
}

.footer {
  position: relative;
}

.footer__container {
  margin: 0 -20px;
  font-weight: normal;
  font-size: 12px;
  position: relative;
  text-align: right;
}

.footer__menu {
  padding: 30px 0 100px;
  margin-left: auto;
}

.footer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 20px;
  right: 20px;
  height: 1px;
  background-color: #000000;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: auto;
}

.footer__item a {
  color: #000000;
}

.current {
  font-weight: bold;
}

.title {
  font-size: 40px;
  line-height: 150%;
  font-weight: bold;
}
